<!DOCTYPE html>
<html>
<head>
  <title>Jun5Login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/link" %>
	<div>
	<% flash.each do |msg_type, msg|%>
	<%=msg%>
	<%end%>
</div>

<%= yield %>

</body>
</html>
